- var homepage = "http://www.bluestatedigital.com";
- var orgName = 'Blue State Digital';
- var unsubUrl = '';

doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    link(href="style.min.css" rel="stylesheet")
    style
      include responsive.min.css 
  body
    table.wrapper(cellpadding='0', cellspacing='0', border='0')
      tr
        td
          table.wrapper-inner(cellpadding='0', cellspacing='0', border='0', align='center')
            tr
              td.header
                a(href="#{homepage}")
                  img(src="http://placehold.it/600x100" alt="#{orgName}")
            tr
              td.content
                table(width="100%")
                  tr
                    td.gutter
                      | &nbsp;
                    td
                      p Hi friend
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                      p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                      p
                        img(src="http://placehold.it/522x221" align="center")
                      p Dreprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur end it now by taking action. Sunt in culpa qui officia deserunt mollit anim id est laborum. 
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                      p Thank you for voluptate velit!
                        br 
                        | Lorem Ipsum
                    td.gutter
                      | &nbsp;
            tr 
              td.footer
                table(width="100%")
                  tr
                    td 
                      p
                        | Address goes here
                        br 
                        a(href="#{unsubUrl}") Unsubscribe
                        | &nbsp;|  
                        a(href="#") Privacy Policy
                    td.social
                      a(href="#")
                        img(src="img/facebook.png" alt="Facebook")
                      | &nbsp;
                      a(href="#")
                        img(src="img/twitter.png" alt="Twitter")
